.services .container{
    padding-bottom: 70px;
    padding-top: 20px;
}
.services .container .row{
    padding-bottom: 20px;
}
.services .service-item{
    margin-bottom: 30px;
    max-width: 33%;
    flex: 0 0 33%;
}
.services .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s;
}
.services .service-item .service-item-inner:hover{
    box-shadow: 0 0 30px rgba(48, 46, 77, 0.50);
}
body.dark .services .service-item .service-item-inner:hover{
    box-shadow: 0 0 30px var(--skin-color);
}
.services .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.services .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.services .container .row .section-title h2 {
    font-size: 50px;
}
.services .service-item .service-item-inner:hover .icon{
    background-color: var(--skin-color);
}
.services .service-item .service-item-inner .icon .ui-ux{
    width: 70px;
    height: 70px;
    margin-left: -70px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}
.services .service-item .service-item-inner:hover .icon .ui-ux{
    margin-left: -5px;
    font-size: 20px !important;
}
.services .service-item .service-item-inner:hover .icon .fa{
    font-size: 25px;
    color: #ffff;
}
.services .service-item .service-item-inner h3{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.services .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}